<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daftar To do List</title>
  </head>
  <body>
    <h1>Daftar To do List</h1>
    <a href="/todo/create/">Buat Post Baru</a>
    <hr />

    {% if posts %}
    <ul>
      {% for post in posts %}
      <li>
        <a href="/todo/read/{{ post.id }}/">{{ post.task_name }}</a> - {{ post.task_deadline }} - {{ post.task_detail }}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No posts found.</p>
    {% endif %}
  </body>
</html>
